<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="DEV_HOME" value="../zlogs" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> 
    	<layout class="ch.qos.logback.classic.PatternLayout">
    		<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger.method:%line - %msg%n</pattern>
    	</layout>
	</appender>


	<appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEV_HOME}/z-springboot-foo-service/z-springboot-foo-service.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${DEV_HOME}/archived/z-springboot-foo-service/z-springboot-foo-service.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger.method:%line - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.chj.gr" level="INFO">
	</logger>

	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-ROLLING" />
	</root>

</configuration>